<div class="panel panel-default">
  <div [@fromLeft] class="panel-heading">
     <h3 class="panel-title">All players</h3> 
     <div class="row col-md-12">
     

     <div *ngIf="!authService.isLogged()">
     	<a routerLink="/auth/login">Login</a> to see all players.
     </div>
    </div>   
  </div> 
  <br />
  <div class="panel-body">
      <div class="row">
          <div [@fromRight] *ngFor="let player of players" class="col-md-2">
				<app-player [player]="player"></app-player>
          </div>    
      </div>    
  </div>   
</div>
